p,h2{
    /* text-align: center; */
    margin-top: 50px;
}
body{
    text-align: center;
    background-color: aliceblue;
    
}
#page3,#page4,#page5{
    visibility: hidden;
}
button{
    padding: 4px;
    
}
