p,h2{
    text-align: center;
    margin-top: 50px;
}
body{
    background-color: aliceblue;
    
}
#page3,#page4,#page5{
    visibility: hidden;
}
button{
    padding: 4px;
    
}
#page3{
    /* succussfully created */
    position: absolute;
    top: 80px;
    left: 250px
}

#page4{
    /* created login page */
    position: absolute;
    top: 30px;
    left: 200px
}

#page5{
    /* succussfully created */
    position: absolute;
    top: 80px;
    left: 200px
}

